body {
  margin: 0 auto;
  padding: 1em;
  max-width: 48em;
  font-family: "Noto Sans", "Helvetica Neue", sans-serif;

  background: #f8f8f8;
  color: #444;
}

pre {
  font-family: "Source Code Pro", monospace;
  font-size: 1.5em;
}

#speech {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 1em;
  font-size: 1.75rem;
  font-weight: 600;
  background: #e8e8e8;
}

#speech:before, #speech:after {
  line-height: 1.75rem;
}

#speech:before {
  content: "“";
}

#speech:after {
  content: "”";
}

